/* Contenedor */
.admin-container {
    flex: 1;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    
    overflow-y: auto;
    width: 100%;
}

.admin-card {
    width: 100%;
    height: 100vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
  }

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Botones */
.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 50vh;
}

.admin-buttons button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: white;
    background-color: #7ed957;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.admin-buttons button:hover {
    background-color: #4fa32b;
}

/* Diseño responsive */
@media (max-width: 768px) {
    .admin-card {
        max-width: 90%;
    }
    .admin-buttons {
        width: 100%;
    }
}
