/* Estilo del calendario */

.calendar-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  background: #f7f2fa;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Encabezado del calendario */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: #f7f2fa;
  z-index: 10;
  padding-bottom: 0.5rem;
}

/* Cuadrícula del calendario */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 8px;
  margin-top: 1rem;
  width: 100%;
  min-width: 500px;
  box-sizing: border-box;
  height: 100%;
}

.calendar-grid-wrapper {
  overflow-x: auto;
  width: 100%;
  flex: 1;
}

.calendar-day-name {
  text-align: center;
  font-weight: bold;
  padding: 4px 2px;
  border-radius: 4px;
  margin: 0;
  line-height: 1.2;
  font-size: 0.85rem;
}

.calendar-day {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.85rem;
  overflow: hidden;
  height: 100%;
}

.calendar-day:hover {
  background: #7ed957;
}

.btn-calendar {
  border: none;
  background: none;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

.past-day {
  background-color: #e0e0e0;
}

/* Modal */

.modal-overlay-calendar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content-calendar {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
}

.modal-close-calendar {
  float: right;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}


/* Pantallas más pequeñas */

@media (max-width: 600px) {
  .calendar-container {
    padding: 0.5rem;
  }

  .calendar-grid {
    grid-auto-rows: 100px;
  }

  .calendar-day {
    padding: 3px;
    font-size: 0.8rem;
  }

  .calendar-day-name {
    font-size: 0.75rem;
  }
}